body{
    background: linear-gradient(to right top, rgb(165, 230, 230), #96e4e0);
}

*{
    text-align: center;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, rgb(165, 230, 230), #96e4e0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 10px 20px;

}

.glass{
    background: white;
    min-height: 30vh;
    width: 55%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    border-radius: 20px;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
    position: fixed;
}

.circle1{
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 17%;
}

.circle3{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
    position: fixed;
    top: 25%;
    right: 20%;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#h1image{
    width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 15px 5px;
    margin: 0 10px 0 10px;

}

h1{
    font-size: 50px;
    font-family: Cinzel, serif;
    margin: 10px;
}

body{
    font-family: 'Fauna One', serif;
    font-size: 20px;
}

button{
    font-family: 'Fauna One', serif;
    padding: 15px 15px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4eb1b8e2;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(130, 205, 211);
}

button:hover {background-color: #3bc6d5}

button:active {
  background-color: #4fbfb5;
  box-shadow: 0 3px #036b72;
  transform: translateY(4px);
}

/* Media queries */
@media screen and (max-width: 750px) {
  img{
        width: 50%;
        height: auto;
  }

  #h1image{
    width: 6%;
    height: auto;
  }

  .glass{
    width: 100%;
    height: auto;
}

h1, h2 {
    font-size: 95%;
}

main{
    font-size: 90%;
}

button{
    width: 90%;
    height: auto;
    font-size: 100%;

}

}

/*Do I need the min-width?*/

@media screen and (max-width: 1000px) and (min-width: 400px){
  img{
    width: 50%;
    height: auto;
  }

  #h1image{
    width: 6%;
    height: auto;
  }

  h1 {
    font-size: 45px;
}

  .glass{
    width: 100%;
    height: auto;
}

button{
    width: 50%;
    height: auto;
    font-size: 100%;
}

}
